@import url("https://fonts.googleapis.com/css2?family=Bonbon&display=swap");
body {
  background-image: url(../img/photo-1543128801-5e0c34a1fdc5.jpg);
  background-repeat: no-repeat no-repeat;
  background-size: cover;
}
form {
  width: 100%;
}
#logo {
  font-size: 9em;
  margin-left: 9%;
  font-weight: bolder;
  color: rgb(255, 0, 0);
  text-shadow: 4px 4px 7px rgb(155, 121, 121);
  font-family: "Bonbon", cursive;
}
label {
  font-size: 6em;
  margin-left: 26%;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-shadow: 6px 6px 20px rgb(255, 0, 0);
  font-family: "Bonbon", cursive;
  animation-name: la;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes la {
  0% {
    text-shadow: 3px 3px 20px rgb(255, 0, 0);
  }
  50% {
    text-shadow: -3px -6px 20px rgb(255, 0, 0);
  }
  75% {
    text-shadow: -6px -3px 20px rgb(255, 0, 0);
  }
}
input[type="text"] {
  position: absolute;
  top: 49%;
  margin-left: 5px;
  width: 20%;
  height: 6vh;
  border-radius: 0px 0 100% 0;
  /* border: 1px dashed red; */
  box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.3),
    3px 5px 5px 7px rgba(122, 75, 75, 0.3);
  background-color: rgba(224, 221, 221, 0.795);
  font-size: 0.5em;
  font-weight: bold;
}
input[type="submit"],
button {
  position: relative;
  left: 19%;
  top: 19px;
  width: 5vw;
  height: 10vh;
  transform: rotate(-55deg);
  border: 2px solid rgb(255, 0, 0);
  border-top-left-radius: 50%;
  background-color: rgba(255, 0, 0, 0.425);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  font-weight: bolder;
  font-size: 2em;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

input[type="submit"]:active {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 100%;
}
button:active {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 100%;
}
input[type="text"],
input[type="submit"],
button:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: white;
}
button {
  position: relative;
  top: 116px;
  left: 15%;
}
